<div class="left-content col-md-8 col-xs-12">
  <% @articles.each do |article| %>
    <section>
      <h1><%= article.title %></h1>
      <div class="info">
        <span class="author">Ari Firmanto</span>
        <span class="tags"><a class="red-link" href="#">Design,</a> <a class="red-link" href="#">UX Design</a></span>
        <span class="date"><%= article.created_at.to_date %></span>
      </div>
      <div class="news">
        <div class="crop">
          <img src="/assets/frontend/img/flowers.jpg" alt="">
        </div>
        <p><%= ActionView::Base.full_sanitizer.sanitize(article.content.truncate(200)) %></p>
        <%= link_to 'Read More', '#', class: 'read-more' %>
      </div>
    </section>
  <% end %>
</div>
<div class="right-content col-md-4 col-xs-6">
  <section>
    <div class="sidebar-header">
      <h1>Popular Post</h1>
    </div>
    <div class="sidebar-content">
      <ul>
        <li><a href="#" class="red-link2">How to Create Guidelines and Standards for Websites or Applications</a></li>
        <li><a href="#" class="red-link2">How to Use a CSS Preprocessor to Avoid UI Inconsistencies</a></li>
        <li><a href="#" class="red-link2">How To Build a Social Media Profile Widget in WordPress</a></li>
        <li><a href="#" class="red-link2">Create Vertical Rhythm on Your Webpage</a></li>
        <li><a href="#" class="red-link2">The Emotional Side of UX: Turning Casual Visitors into Brand Evangelists</a></li>
        <li><a href="#" class="red-link2">Best Practices: Leading Brands and Promotional Websites</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="sidebar-header">
      <h1>Recent Post</h1>
    </div>
    <div class="sidebar-content">
      <ul>
        <li><a href="#" class="red-link2">How to Create Guidelines and Standards for Websites or Applications</a></li>
        <li><a href="#" class="red-link2">How to Use a CSS Preprocessor to Avoid UI Inconsistencies</a></li>
        <li><a href="#" class="red-link2">How To Build a Social Media Profile Widget in WordPress</a></li>
        <li><a href="#" class="red-link2">Create Vertical Rhythm on Your Webpage</a></li>
        <li><a href="#" class="red-link2">The Emotional Side of UX: Turning Casual Visitors into Brand Evangelists</a></li>
        <li><a href="#" class="red-link2">Best Practices: Leading Brands and Promotional Websites</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="sidebar-header">
      <h1>Adsense</h1>
    </div>
    <div class="adsense">
      <h2>280x250</h2>
    </div>
  </section>
</div>
<div class="clearfix"></div>
<ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">...</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
