<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/assets/frontend/css/normalize.css">
        <link rel="stylesheet" href="/assets/frontend/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lustria|Lato:400,700,900,900italic' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0//assets/frontend/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/frontend/css/main.css">
        <script src="/assets/frontend/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="bg-header"></div>
        <div class="container">
          <header>
            <div id="social-media">
              <a href="http://kodesutra.com" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="http://kodesutra.com" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="http://kodesutra.com" target="_blank"><i class="fa fa-rss"></i></a>
            </div>
            <div class="clearfix"></div>
            <div id="logo">
              <ul>
                <li>
                  <h1>Kode</h1> 
                  <h1 class="w-adjust">Sutra</h1>
                 </li>
                 <li></li>
                 <li>Tempat sharing buat para geeks</li>
               </ul>
            </div>
            <nav>
              <ul>
                <li><a href="#"><i class="fa fa-home"></i> Beranda</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#"data-toggle="dropdown"><i class="fa fa-list"></i> Kategori</a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-info"></i> Forum</a></li>
                <li class="search">
                    <span class="label-search"><i class="fa fa-search"></i> Pencarian</span>
                    <div class="formsearch">
                      <form id="search" action="#" method="get" target="_top">
                        <input type="text" name="q" class="search-input">
                        <input type="hidden" name="ie" value="UTF-8">
                      </form>
                      <span class="search-icon"><i class="fa fa-search"></i></span>
                    </div>
                </li>
                <li><a href="#"><i class="fa fa-user"></i> Login</a></li>
              </ul>
            </nav>
          </header>
          <div class="content">
            <div class="left-content col-md-8 col-xs-12">
              <section>
                <h1>Challenges and Oppurtunities of UX in Augmented Reality</h1>
                <div class="info">
                  <span class="author">Ari Firmanto</span>
                  <span class="tags"><a href="#">Design</a>, <a href="#">UX Design</a></span>
                  <span class="date">June 9, 2014</span>
                </div>
                <div class="news">
                  <div class="crop">
                    <img src="/assets/frontend/img/flowers.jpg" alt="">
                  </div>
                  <p>Augmented reality is a recent technological innovation that is widely used in marketing by major brands like Pepsi and IKEA. It adds layers of computer-generated content over real life objects enhancing the user experience and perception of the brand. The reason why UX designers should care about augmented reality is that it is yet another type of user interaction, albeit a... </p>
                  <a href="#" class="read-more">Read More</a>
                </div>
              </section>
              <section>
                <h1>Challenges and Oppurtunities of UX in Augmented Reality</h1>
                <div class="info">
                  <span class="author">Ari Firmanto</span>
                  <span class="tags"><a href="#">Design</a>, <a href="#">UX Design</a></span>
                  <span class="date">June 9, 2014</span>
                </div>
                <div class="news">
                  <div class="crop">
                    <img src="/assets/frontend/img/cornfield.jpg" alt="">
                  </div>
                  <p>Augmented reality is a recent technological innovation that is widely used in marketing by major brands like Pepsi and IKEA. It adds layers of computer-generated content over real life objects enhancing the user experience and perception of the brand. The reason why UX designers should care about augmented reality is that it is yet another type of user interaction, albeit a... </p>
                  <a href="#" class="read-more">Read More</a>
                </div>
              </section>
              <section>
                <h1>Challenges and Oppurtunities of UX in Augmented Reality</h1>
                <div class="info">
                  <span class="author">Ari Firmanto</span>
                  <span class="tags"><a href="#">Design</a>, <a href="#">UX Design</a></span>
                  <span class="date">June 9, 2014</span>
                </div>
                <div class="news">
                  <div class="crop">
                    <img src="/assets/frontend/img/clouds.jpg" alt="">
                  </div>
                  <p>Augmented reality is a recent technological innovation that is widely used in marketing by major brands like Pepsi and IKEA. It adds layers of computer-generated content over real life objects enhancing the user experience and perception of the brand. The reason why UX designers should care about augmented reality is that it is yet another type of user interaction, albeit a... </p>
                  <a href="#" class="read-more">Read More</a>
                </div>
              </section>
            </div>
            <div class="right-content col-md-4 col-xs-6">
              <section>
                <div class="sidebar-header">
                  <h1>Popular Post</h1>
                </div>
                <div class="sidebar-content">
                  <ul>
                    <li><a href="#">How to Create Guidelines and Standards for Websites or Applications</a></li>
                    <li><a href="#">How to Use a CSS Preprocessor to Avoid UI Inconsistencies</a></li>
                    <li><a href="#">How To Build a Social Media Profile Widget in WordPress</a></li>
                    <li><a href="#">Create Vertical Rhythm on Your Webpage</a></li>
                    <li><a href="#">The Emotional Side of UX: Turning Casual Visitors into Brand Evangelists</a></li>
                    <li><a href="#">Best Practices: Leading Brands and Promotional Websites</a></li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="sidebar-header">
                  <h1>Recent Post</h1>
                </div>
                <div class="sidebar-content">
                  <ul>
                    <li><a href="#">How to Create Guidelines and Standards for Websites or Applications</a></li>
                    <li><a href="#">How to Use a CSS Preprocessor to Avoid UI Inconsistencies</a></li>
                    <li><a href="#">How To Build a Social Media Profile Widget in WordPress</a></li>
                    <li><a href="#">Create Vertical Rhythm on Your Webpage</a></li>
                    <li><a href="#">The Emotional Side of UX: Turning Casual Visitors into Brand Evangelists</a></li>
                    <li><a href="#">Best Practices: Leading Brands and Promotional Websites</a></li>
                  </ul>
                </div>
              </section>
              <section>
                <div class="sidebar-header">
                  <h1>Adsense</h1>
                </div>
                <div class="adsense">
                  <h2>280x250</h2>
                </div>
              </section>
            </div>
            <div class="clearfix"></div>
            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <footer>
          <div class="container">
            <div class="footer-content"><br/>
              Copyright &copy; <span class="red-text">kodesutra 2013</span><br/>
            </div>
          </div>
        </footer>
        <script src="/assets/frontend/js/vendor/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/assets/frontend/js/bootstrap.min.js"></script>
        <script src="/assets/frontend/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
